---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="hero">
    <div class="hero-content">
      <h2>Bienvenidos a Mikte Cervecería</h2>
      <p>Un sabor auténtico que honra nuestras raíces mexicanas.</p>
    </div>
  </section>

  <section class="intro">
    <p>
      Somos una casa cervecera en la Ciudad de México. Nuestro sabor único y refrescante pretende rendir homenaje a los y las Mexicanas que cada día luchan por sus familias y por nuestro país.
    </p>
    <p>Mikte representa México, Mikte es de México.</p>
  </section>
</Layout>